* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #BAAB9B;
    padding-top: 110px;
}

.perfil-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.caja{
  background-color: #4F1E09;
  border-radius: 15px;
  width: 600px;
  height: 500px;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.container-fluid{
    background-color: #E2D2B8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    text-shadow: 2px 2px 0 #73D997;
    font-weight: bold;
}

.nav-btn {
  margin-left: auto;
}

/* From Uiverse.io by Bodyhc */ 
.search {
  display: inline-block;
  position: relative;
  margin: auto;
}

.search input[type="text"] {
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item{
  margin-right: 20px;
  font-weight: bold;
}

.btn{
  color: #4F1E09;
}