* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #BAAB9B;
}

/* Navbar container */
nav {
    height: 110px;
}

.container-fluid{
    background-color: #E2D2B8;
}

.nav-link {
    font-weight: bold;
    color: #472000;
}